<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v4.1.1">
  <title>Cover Template · Bootstrap</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

  <!-- Bootstrap core CSS -->
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="../public/stylesheets/style.css" rel="stylesheet">
</head>

<script>
  function updateItem(id) {
    console.log("updateItem: " + id);
    var url = "/edit/" + id;
    var xrq = new XMLHttpRequest();
    xrq.timeout = 10000;
    xrq.open("PUT", url, true);
    xrq.send(JSON.stringify({"test": "hello"}));
  }
</script>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <!-- <h3 class="masthead-brand">Edit</h3> -->
        <!-- <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#HomePage.html">Home</a>
        <a class="nav-link" href="#Cart.html">Cart</a>
        <a class="nav-link" href="#Orders.html">Order</a>
        <a class="nav-link" href="#AdminProducts.html">Add Product</a>
      </nav> -->
      </div>
    </header>

    <main role="main" class="inner cover">
      <form  action="/edit/<%= id %>" method="POST" class="form-edit">
        <h1 class="cover-heading">Edit products page</h1>
        <br>
        <!-- <label> Name</label> -->
        <input type="text" placeholder="name" name="name"><br>
        <!-- <label> Price</label> -->
        <input type="text" placeholder="price" name="price"><br>
        <!-- <label for="text" class="sr-only">name</label> 
        <input type="text" id="inputSize" class="form-control" placeholder="Size" required autofocus>
        <br>
        <label for="text" class="sr-only">price</label>
        <input type="text" id="inputMaterial" class="form-control" placeholder="Material" required> -->
        <!-- <br>
        <label for="text" class="sr-only">Season</label>
        <input type="text" id="inputSeason" class="form-control" placeholder="Season" required>
        <br>
        <label for="text" class="sr-only">Country Made In</label>
        <input type="text" id="inputCountry" class="form-control" placeholder="Country" required>
        <br> -->
        <button id='<%= id %>' class="btn2 btn-lg btn-primary btn-block" type="submit">Edit Product</button>
      </form>

      <!-- <p class="lead">Add products page</p> -->
      <!-- <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p> -->
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
            href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
  </div>
</body>

</html>