<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v4.1.1">
  <title>Cover Template · Bootstrap</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

  <!-- Bootstrap core CSS -->
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="../public/stylesheets/home.css" rel="stylesheet">
</head>

<!-- <script>
  function removeItem(id) {
    console.log("removeItem: " + id);
    var url = "/admin-products/" + id;
    var xrq = new XMLHttpRequest();
    xrq.timeout = 10000;
    xrq.open("DELETE", url, true);
    xrq.send();
  }
</script> -->

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Home Page</h3>
        <nav class="nav nav-masthead justify-content-center">
          <!-- <a class="nav-link " href="/views/HomePage.html">Home</a> -->
          <a class="nav-link " href="/cart">Cart</a>
          <a class="nav-link" href="/views/Orders.html">Order</a>
          <a class="nav-link" href="/views/AddProduct.html">Add Product</a>
          <a class="nav-link" href="/admin-products">Admin Products</a>
          <a class="nav-link" href="/home-product">Home Page</a>
        </nav>
      </div>
    </header>


    <main role="main" class="inner cover">


      <div>
        <div class="container">

          <div class="row">
            <% for(var i=0; i < products.length; i++) { %>
              <div class="col-md-4" id="<%= products[i]._id %>">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: Thumbnail">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                      dy=".3em">Thumbnail</text>
                  </svg>
                  <div class="card-body">
                    <p class="card-text">
                      <%= "Name: " + products[i].name %><br>
                      <%= "Price: " + products[i].price %>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <!-- <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" type="button" href="/views/Edit.html" role="button"
                          class="btn btn-sm btn-outline-secondary">Edit</a>
                          <button id='<%= products[i]._id %>' style="color:red" type="button" onclick='removeItem(id)' class="btn btn-sm btn-outline-secondary">Delete</button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            <% } %>            
          </div>
        </div>
      </div>

    </main>
    <footer class="mastfoot mt-auto">
      <div class="inner">

      </div>
    </footer>
  </div>
</body>

</html>