<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v4.1.1">

  <script src="../routes/login.js"></script>

  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

  <!-- Bootstrap core CSS -->
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="../public/stylesheets/signin.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body class="text-center">

  <form action="/login" method="post" form class="form-signin">
    <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <% if (typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
    <div class="alert alert-danger" role="alert">
      <%= error.msg %>
    </div>
    <% }) %>
    <% } %>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required
      autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <a class="nav-link active" href="/reset">Forgot password?</a>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button id="LoginButton" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    <a class="btn btn-light btn-lg btn-primary btn-block shadow p-2 bg-white rounded"
      style="font-family: 'Roboto', sans-serif; font-size: 16px;" href="/google">
      <div class="left">
        <img width="20px" alt="Google &quot;G&quot; Logo" style="position: relative; left: -10px;"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        <span>Sign in with Google</span>
      </div>
    </a>

    <a class="btn btn-lg btn-secondary btn-block" href="/register">Register</a>
    <div class="checkbox mb-3">
      <label>
        <a class="nav-link active" href="/home-product">Or browse as a guest</a>
      </label>
    </div>
  </form>
</body>

</html>